*{
    font-family: Roboto;
}

.jtable {
    padding: 20px 0;
    height: inherit;
}

    .jtable > kbd {
        width: 100% !important;
        display: block;
        text-align: center;
    }

.jmain-container {
    height: inherit;
}

.jrow-content > .jsub-row, .jrow-content-m > .jsub-row {
    border-bottom: 1px solid rgb(0, 123, 255);
}

.jheader-container {
    display: flex;
}

    .jheader-container > .j-header {
        background-color: #007bff;
        color: white;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        word-wrap: break-word;
        white-space: normal;
        padding: 5px 2px;
        font-weight: bolder;
    }

        .jheader-container > .j-header > label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }


.jrow-content {
    display: flex;
    border-bottom: solid 1px #007bff;
    border-left: solid 1px;
    border-right: solid 1px;
    /* border-top: solid 1px; */
    border-color: #007bff;
    width: 100%;
}

    .jrow-content > .j-row {
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        white-space: normal;
        padding: 3px;
        cursor: pointer;
    }

        .jrow-content > .j-row > label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            cursor: pointer;
        }

    .jrow-content:hover {
        background-color: #bdbdbd;
        cursor: pointer;
    }

.jrow-container{
    height: inherit;
    overflow-y: auto;
    /* border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-color: #007bff; */
}

    .jrow-container > .jno-data {
        padding-top: 8px;
        width: 100%;
        text-align: center;
    }

.jno-data-m {
    padding-top: 8px;
    border-top: solid 1px #007bff;
}
    .jno-data-m > label {
        width: 100%;
        text-align: center;
    }

/*Mobile*/
.jmain-container-m {
    display: flex;
    flex-direction: column;
    border-left: solid 1px #007bff;
    border-right: solid 1px #007bff;
    border-top: solid 1px #007bff;
}

.jrow-container-m {
    border-bottom: solid 1px #007bff;
}

    .jrow-container-m > .j-row-m {
        display: flex;
        width: 100%;
    }

        .jrow-container-m > .j-row-m > div {
            border: 1px solid #e9ecef;
            width: 50%;
            padding: 0.8em;
        }

.j-search-content {
    display: flex;
    justify-content: flex-end;
}

#j-search {
    margin-bottom: 5px;
    height: 40px;
    border-radius: 0.5em;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

body {
    color: #4a4a4a;
}

label{
    margin-bottom: .5rem;
    touch-action: manipulation;
}

.bc-red{
    border-color: #c52020 !important;
}

.bc-red-head{
    background:  #c52020 !important;
}